body {
	font-family: Helvetica;
}

.gray {
	color: rgb(36, 36, 36);
}

.margin__off {
	margin-bottom: 0;
	margin-top: 4rem;
}

.gray__light {
	color: rgb(97, 97, 97);
	margin-top: 0.6em;
}

img {
	border-radius: 25px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.main__block {
	margin: 0 auto;
	padding: 150px 300px 150px 300px;
}

@media (max-width: 1600px) {
	.main__block {
		padding: 150px 150px 150px 150px;
	}
}

@media (max-width: 900px) {
	.main__block {
		padding: 150px 10px 150px 10px;
	}
}

.text-center {
	text-align: center !important;
}

.fw-bold {
	font-weight: 800 !important;
}

@font-face {
	font-family: MontserratFull;
	font-display: swap;
	src: url('/fonts/Montserrat/bold.full.woff2');
}

/*
.test {
	letter-spacing: 2px;
	display: inline-block;
	font-size: 32px;
	transform: scaleY(0.5);
	transform-origin: 0 0;
	margin-bottom: -50%;
}
*/
